body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #007bff;
}

a.create-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Выравнивание по вертикали на всю высоту окна */
}

/* Стиль для формы с закругленными краями */
.rounded-form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
