<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
    <a href="/registration" class="btn btn-success">Новый пользователь</a>
    <h2 class="my-3">Список пользователей</h2>
    <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Логин</th>
            <th>Роли</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${user_list}">
            <td th:text="${el.username}"></td>
            <td>
                <div th:each="role : ${el.roles}">
                    <span class="badge badge-info" th:text="${role}"></span>
                </div>
            </td>
            <td>
                <a class="btn btn-primary" th:href="'/admin/'+${el.id}">Подробнее...</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<p class="my-5"><a class="btn btn-secondary" href="/home">Назад</a></p>
</body>
</html>
