<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Suppliers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="my-5">Suppliers</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="supplier : ${suppliers}">
                    <td th:text="${supplier.sname}"></td>
                    <td><a class="btn btn-primary" th:href="@{/edit/{id}/supplier(id=${supplier.id})}">EDIT</a></td>
                    <td><a class="btn btn-danger" th:href="@{/delete/{id}/supplier(id=${supplier.id})}">DELETE</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<p class="my-5"><a class="btn btn-secondary" href="/supplier">Back</a></p>
</body>
</html>
